@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

body {
    font-family: "Overpass", sans-serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin: auto;
    width: 90%;
    text-align: center;
  }
  
  table {
    font-size: 60px;
    border-collapse: collapse;
    width: 300px;
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  td {
    border: 2px solid;
    width: 100px;
    height: 100px;
  }

  azul{
    color: blue;

  }

  vermelho{
    color: red;
  }

  .titulo{
    font-family: "Bakbak One", sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }

  .ganhador{
    font-family: "Londrina Solid", sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: green;
  }

